body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* height: 100vh; */
}

#showFormBtn {
  position: fixed;
  /* position: absolute;  */
  top: 0px;
  right: 0px
}

/* The Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content input[type="text"],
.modal-content textarea {
  width: 100%; /* This ensures it takes the full width */
  box-sizing: border-box; /* This ensures padding and border are included in the element's total width and height */
  margin-bottom: 10px; /* Add some margin for better spacing */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Close Button */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.bottom-container {
  padding: 50px 0 20px;

  font-family: 'Montserrat', sans-serif;
}

.text-with-border {
  max-width: none; 
  width: auto; 
  height: auto; 
  padding: 10px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  box-sizing: border-box;
  /* overflow-y: auto; */
  /* Border width, style, and color */
  /* Add some padding around the text (optional) */
}

h1 {
  font-size: 8vw;
}

.loading {
  /* margin: 20px;
  font-size: 36px;
  font-family: sans-serif; */
}

.loading:after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: '';
}

@keyframes dotty {
  0% {
    content: '';
  }

  25% {
    content: '.';
  }

  50% {
    content: '..';
  }

  75% {
    content: '...';
  }

  100% {
    content: '';
  }
}

.input-wrapper {
  display: flex;           /* Use Flexbox for layout */
  align-items: center;     /* Center items vertically */
}

.input-wrapper .userInput {
  margin-right: 10px;      /* Add some space between the input and the button */
}

.responsiveinput {
  display: flex;
  align-items: center;
}

.responsiveinput > * {
  margin-right: 5px;  /* Some spacing between elements */
}


img {
  /* max-width: 250px; */
  width: 100%;
  height: 100%;
  padding: 0px;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

/* .bot-container {
  width: 200px;  
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
} */


.bot-container {
  width: 200px;
}

/* .input-container {
  position: fixed;
  bottom: 10%;
  left: 50%; 
  transform: translateX(-50%); 
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

input[type=textarea] {
  height: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea { resize: none; }

.chat-container {
  position: fixed;
  top: 20px; /* Adjust this value as per your design needs */
  left: 50%;
  transform: translateX(-50%);
}

/* .speech {
  max-height: 100%;
  overflow-y: auto;
  margin-bottom: 20px;
} */

@media (max-height: 750px) {
  .bot-container {
    position: fixed;
    bottom: 12%;
    left: 50%;
    width: 200px;  
    transform: translateX(-50%);
  }
  .input-container {
    margin: 0 auto;  /* This centers the container horizontally */
    position: fixed;
    bottom: 10%;
    /* width: 300px;   Ensure you have a set width for this to work */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .response-container {
    position: fixed;
    top: 10%;
  }
  /* body {
    display: block;
  } */
}

/* .input-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px; 
} */

/* Provide some space between the input field and the button */
/* input[type="submit"] {
  margin-left: 10px;
} */

.userInput {
  width: calc(100%-20px); /* This is an example value; adjust as needed */
}

.speech {
  /* (A1) FONT */
  font-size: 1.1em;

  /* (A2) COLORS */
  color: #fff;
  background: #000000;

  /* (A3) DIMENSIONS + POSITION */
  position: relative;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  min-width:200px;
  max-width: 500px;
  text-align: center;
}

/* (B) ADD SPEECH "CALLOUT TAIL" */
/* (B1) USE ::AFTER TO CREATE THE "TAIL" */
.speech::after {
  /* (B1-1) ATTACH TRANSPARENT BORDERS */
  content: "";
  border: 20px solid transparent;

  /* (B1-2) NECESSARY TO POSITION THE "TAIL" */
  position: absolute;
}

/* (B2) BOTTOM "CALLOUT TAIL" */
.bottom.speech::after {
  /* (B2-1) DOWN TRIANGLE */
  border-top-color: #000000;
  border-bottom: 0;

  /* (B2-2) POSITION AT BOTTOM */
  bottom: -20px;
  left: 50%;
  margin-left: -20px;
}

/* (C) DIFFERENT TAIL POSITIONS */
/* (C1) TOP */
.top.speech::after {
  /* (C1-1) UP TRIANGLE */
  border-bottom-color: #ffffff;
  border-top: 0;

  /* (C1-2) POSITION AT TOP */
  top: -20px;
  left: 50%;
  margin-left: -20px;
}

/* (C2) LEFT */
.left.speech::after {
  /* (C2-1) LEFT TRIANGLE */
  border-right-color: #a53d38;
  border-left: 0;

  /* (C2-2) POSITION AT LEFT */
  left: -20px;
  top: 50%;
  margin-top: -20px;
}

/* (C3) RIGHT */
.right.speech::after {
  /* (C3-1) RIGHT TRIANGLE */
  border-left-color: #a53d38;
  border-right: 0;

  /* (C3-2) POSITION AT RIGHT */
  right: -20px;
  top: 50%;
  margin-top: -20px;
}

/* (X) THE REST DOES NOT MATTER - COSMETICS */
/* PAGE & BODY */
* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

/* body {
    display: flex;
    align-items: center; justify-content: center;
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1600172454132-ada7faa101cf?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0NjU0ODA0Mg&ixlib=rb-1.2.1&q=85);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  } */

/* WIDGET */
.widget-wrap {
  max-width: 500px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
}

/* SVG */
#talk {
  width: 100%;
  height: 120px;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 512 512" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 9.8 11.2 15.5 19.1 9.7L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64z" /></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

/* FOOTER */
#code-boxx {
  font-weight: 600;
  margin-top: 30px;
}

#code-boxx a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  background: #b90a0a;
  color: #fff;
}